<div class="container">  
  <br>  
    <div class="row">
      <div class="col-sm-4">
        <a href="#" data-toggle="modal" data-target="#java">
          <img src="assets/images/java.jpg" class="img-responsive" style="width:100%;height:190px" alt="Image">
        </a>
      </div>
      <div class="col-sm-4"> 
          <a href="#" data-toggle="modal" data-target="#docker">
            <img src="assets/images/docker.jpg" class="img-responsive" style="width:100%;height:190px" alt="Image">
          </a>
      </div>
      <div class="col-sm-4"> 
          <a href="#" data-toggle="modal" data-target="#myModal">
            <img src="assets/images/jpa.png" class="img-responsive" style="width:100%" alt="Image">
          </a>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
            <a href="#" data-toggle="modal" data-target="#myModal">
              <img src="assets/images/springboot.jpg" class="img-responsive" style="width:100%" alt="Image">
            </a>
        </div>
        <div class="col-sm-4"> 
            <a href="#" data-toggle="modal" data-target="#myModal">
              <img src="assets/images/microservices.png" class="img-responsive" style="width:100%;height:190px" alt="Image">
            </a>
        </div>
        <div class="col-sm-4"> 
          <a href="#" data-toggle="modal" data-target="#myModal">
            <img src="assets/images/database.jpg" class="img-responsive" style="width:100%;height:190px" alt="Image">
          </a>
        </div>
      </div>
  </div>

   <!-- The Modal -->
   <div class="modal fade" id="java">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Java Training & Job Support</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <ol>
               <li> Proficient in Java, with a good knowledge of its ecosystems</li>
               <li> Solid understanding of object-oriented programming</li>
               <li> Familiar with various design and architectural patterns</li>
               <li> Skill for writing reusable Java libraries</li>
               <li> Knowledge of concurrency patterns in Java</li>
               <li> Familiarity with concepts of MVC, JDBC, and RESTful</li>
               <li> Experience with popular web application frameworks, such as Play and Spark</li>
               <li> Familiarity with Java GUI frameworks such as Swing, SWT, and AWT depending on project requirements</li>
               <li> Knack for writing clean, readable Java code </li>
               <li> Experience with both external and embedded databases </li>
               <li> Understanding fundamental design principles behind a scalable application </li>
               <li> Basic understanding of the class loading mechanism in Java </li>
               <li> Creating database schemas that represent and support business processes </li>
               <li> Basic understanding of JVM, its limitations, weaknesses, and workarounds </li>
               <li> Implementing automated testing platforms and unit tests </li>
               <li> Proficient understanding of code versioning tools, such as Git </li>
               <li> Familiarity with build tools such as Ant, Maven, and Gradle </li>
               <li> Familiarity with continuous integration </li>
            </ol>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>

     <!-- The Modal -->
   <div class="modal fade" id="docker">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Java Training & Job Support</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <ul class="nav nav-tabs">
                  <li class="nav-item"><a href="#" class="nav-link active">Training <i class="fa fa-book" aria-hidden="true"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Job Assitance <i class="fa fa-life-ring" aria-hidden="true"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Interview Practise <i class="fa fa-certificate" aria-hidden="true"></i></a></li>
              </ul>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>